body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: khaki;
	-webkit-user-select: none;
	user-select: none;
	flex-direction: column;
	margin:  0;
}

.container {
	height: 600px;
	width: 400px;
	display: flex;
	flex-wrap: wrap;

}

.output {
	width: 400px;
	height: 200px;
	background-color: #f7f5eb;
	font-size: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	padding: 0 30px;
	overflow: hidden;
	-webkit-user-select: text;
	user-select: text;
}

.buttons-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #555;

}

.button {
	font-size: 25px;
	width: 100px;
	height: 100px;
	border: none;
	cursor: pointer;
}

.button.symbol {
	background-color: #f4e660;
}

.button.number {
	color: #f7f5eb;
	background-color: #555;

}

.button.symbol:hover {
	background-color: #e7d956;
}

.button.symbol:active {
	background-color: #dccd4d;
}

.button.number:hover {
	background-color: #494949;
}

.button.number:active {
	background-color: #434343;
}

.ac {
	border-radius: 50%;
}

.footer {
	background-color: #393e46;
	width: 100%;
	height: 40px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;

}

a {
	text-decoration: none;
	color: white;
	margin-left: 4px;
	margin-top: 1px;
}